<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="EngineeringContext" connectionString="data source=OWNER-PC\SQLEXPRESS;initial catalog=EngineeringDataBase;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>